<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="developer software engineer daily logging" />
    <meta name="author" content="Eric Cheong Kai Kit" />
    <meta name="copyright" content="Eric Cheong Kai Kit" />
    <link href="/html/styles/output.css" type="text/css" rel="stylesheet" />
    <script src="../htmx/htmx.min.js"></script>
    <title>Daily Dev Journal | Create</title>
  </head>
  <body class="underline">
    <h1 class="text-3xl underline">
      Please fill in required content to create your journal for the day!
    </h1>
    <form method="post" action="/">
      <label for="new_journal_title">Title of journal</label>
      <input
        name="new_journal_title"
        placeholder="Input title of journal"
        maxlength="50"
      />

      <label for="new_journal_body">Fill in the content of your journal</label>
      <textarea
        name="new_journal_body"
        placeholder="Be as thorough as you would like"
      ></textarea>

      <label for="new_journal_summary">Summary</label>
      <textarea
        name="new_journal_summary"
        placeholder="Summarize your journal for others to preview"
        maxlength="100"
      ></textarea>

      <button id="submit" type="submit">Create</button>
    </form>
  </body>
  <a href="/">Back</a>
  <script></script>
</html>
