<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="developer software engineer daily logging" />
    <meta name="author" content="Eric Cheong Kai Kit" />
    <meta name="copyright" content="Eric Cheong Kai Kit" />
    <link href="/html/styles/output.css" type="text/css" rel="stylesheet" />
    <script src="/html/htmx/htmx.min.js" type="text/javascript"></script>
    <title>Daily Dev Journal | Content</title>
  </head>
  <body class="underline">
    <section>
      <h1 class="text-3xl underline">{{.Title}}</h1>
      <p>{{.Body}}</p>
    </section>
    <a href="/">Back</a>
  </body>
  <script></script>
</html>
