<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="developer software engineer daily logging" />
    <meta name="author" content="Eric Cheong Kai Kit" />
    <meta name="copyright" content="Eric Cheong Kai Kit" />
    <link href="/html/styles/output.css" type="text/css" rel="stylesheet" />
    <script src="../htmx/htmx.min.js"></script>
    <title>{{.Title}}</title>
  </head>
  <body class="underline">
    <h1 class="text-3xl underline">Hello world!</h1>
    {{.Body}}
    <a href="/journal/create">Create journal</a>
  </body>
  <script>
    alert("welcome to dev daily journal");
  </script>
</html>
