<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="developer software engineer daily logging" />
    <meta name="author" content="Eric Cheong Kai Kit" />
    <meta name="copyright" content="Eric Cheong Kai Kit" />
    <link href="/html/styles/output.css" type="text/css" rel="stylesheet" />
    <script src="../htmx/htmx.min.js"></script>
    <title>Daily Dev Journal</title>
  </head>
  <body>
    <nav></nav>
    <section>
      <h1 class="text-3xl">{{.Title}}</h1>
      <p>{{.Body}}</p>
      <a class="block" href="/journal/create">Create journal</a>
    </section>
  </body>
  <script></script>
</html>
