<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="developer software engineer daily logging" />
    <meta name="author" content="Eric Cheong Kai Kit" />
    <meta name="copyright" content="Eric Cheong Kai Kit" />
    <link href="/html/styles/output.css" type="text/css" rel="stylesheet" />
    <script src="../htmx/htmx.min.js"></script>
    <title>Daily Dev Journal | Create</title>
  </head>
  <body class="underline">
    <h1 class="text-3xl underline">
      Please fill in required content to create your journal for the day!
    </h1>
    <form></form>
  </body>
  <form method="GET" action="/">
    <button type="submit">Back</button>
  </form>
  <script></script>
</html>
